{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}}</h1>
                            <span class="subheading">We bring quality content for you</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="col-lg-8 col-md-10"> 
                        <h1> Basic Actions.</h1>
                            <a href="/dashboard"> <button class="btn btn-primary">  Dashboard Home </button></a>
                                <a href="/logout"> <button class="btn btn-primary">  Logout </button></a>
                                <hr>
                            </div>

<!-- Todo: Fetch it using for loop from the database -->
            {% for post in posts %}   
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.tag_line}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{post.date}}
                        </p>
                    </div>
                    <p>{{post.content[0:143]}}...</p>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                  
                    <!-- Pager-->
                    <div class="clearfix">
                        {% if number!=0%}
                        <a class="btn btn-primary float-left" href="{{prev}}">&larr; Older Posts</a>
                        {% endif %}
                        <a class="btn btn-primary text-uppercase float-right" href="{{next}}">Newer Posts→&rarr;</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}